name: sm

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest   # Iri ni runner, ariko commands zose zikorwa muri container
    container:
      image: php:8.2-cli      # version ya PHP ushaka
      options: --user 1000:1000  # user ifite permission yo kwandika muri runner

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        persist-credentials: false  # birinda permission error muri container

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
      env:
        COMPOSER_ALLOW_SUPERUSER: 1  # birinda Composer permission error

    # Gushyiramo tests niba ufite script muri composer.json
    # - name: Run test suite
    #   run: composer run-script test
