name: sm

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    # Nubwo runner ari ubuntu, container niyo izakora PHP
    runs-on: ubuntu-latest

    # Container ya PHP ifite user ifite permission yo kwandika muri runner
    container:
      image: php:8.2-cli     # PHP version ushaka
      options: --user 1000:1000  # User id ifite permission yo kwandika muri temp folders

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        persist-credentials: false  # Birinda permission error muri container

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
      env:
        COMPOSER_ALLOW_SUPERUSER: 1  # Birinda Composer permission errors muri container

    # Gushyiramo tests niba ufite script muri composer.json
    # - name: Run test suite
    #   run: composer run-script test
